{% extends 'base.html' %}
{% block contenido %}
    <table>
        <thead>
        <tr>
            <th>Proyecto</th>
            <th>Descripción</th>
            <th>Límite</th>
            <th>Prioridad</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        {% if proyectos %}
            {% for proyecto in proyectos %}
                <tr>
                    <td>
                        <a href="{% url 'proyecto-detail' proyecto.id %}">{{ proyecto.nombre }}</a>
                    </td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.fecha_limite }}</td>
                    <td>{{ proyecto.prioridad }}</td>
                    <td>{{ proyecto.estado }}</td>
                </tr>
                </tbody>
            {% endfor %}
            </table>
        {% else %}
            <p>No hay proyectos.</p>
        {% endif %}
    <div>
        <a href="{% url 'proyecto-create' %}">Nuevo proyecto</a>
    </div>
{% endblock %}