{% extends 'base.html' %}
{% block contenido %}
    {% if proyecto %}
        <h2>Proyecto: {{ proyecto.nombre }}</h2>
        <ul>
            <li>
                <p>{{ proyecto.descripcion }}</p>
                <p>Fecha límite: {{ proyecto.fecha_limite }}</p>
                <p>Creado: {{ proyecto.created_at }}</p>
                <p>Modificado: {{ proyecto.updated_at }}</p>
                <p>{{ proyecto.prioridad }}</p>
                <p>{{ proyecto.estado }}</p>
            </li>
        </ul>
        <div>
            <a href="{% url 'proyecto-update' proyecto.id %}">Actualizar</a>
            <a href="{% url 'proyecto-delete' proyecto.id %}">Borrar</a>
        </div>
    {% else %}
        <p>No hay proyecto</p>
    {% endif %}
{% endblock %}